<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>后台登录页面</title>
	<link rel="stylesheet" type="text/css" href="./public/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./public/css/admin_entry.css" />
</head>
<body>
<div class="box">
	<h2>后台登录</h2>
	<p><span>账号：</span><input id="username" type="text" name="username" /></p>
	<p><span>密码：</span><input id="password" type="password" name="password" /></p>
	<p>
		<a href="/admin/section">登&nbsp;&nbsp;录</a>
	</p>
	
</div>
</body>
</html>